<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>.:: Print Cetak</title>
 
</head>
 <link rel='stylesheet' type='text/css' href='./templates/baru/css/mycss.css'>

<style>

.print { display: block; }
.printhidden { display: none; }
@media print
{
	.noprint { display: none;background:white;}
	.print { display: block;background:white;}
	.printhidden { display: block;background:white;}
}
</style>
<body>
		



<!--Cetak-->

</html>
